body{

        font-family: "Vazir FD";
        direction: rtl;
        

  
}

.App{
  min-height: 100vh;
    background-image: url('./assets/bg.jpg');
    
}

.item{
    background-color: rgb(255, 239, 210);
    
}